@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

* {
   box-sizing: border-box;
}

body {
   padding: 0;
   margin: 0;
   min-height: 100vh;
   overflow-x: hidden;
}

::-webkit-scrollbar {
   width: 8px;
}
::-webkit-scrollbar-track {
   @apply bg-slate-800;
}
::-webkit-scrollbar-thumb {
   @apply bg-slate-600 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
   @apply bg-slate-500;
}
